* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 

}

form {
    width: 300px;
    padding: 20px;
    background-color: #d8d8d8;
    border-radius: 10px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);

}
div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.barra {
    height: 20px;
}

.login {
    margin-bottom: 10px;
}
.entrar{
    border: none;
    background-color: none;
    text-align: center;
    width: 100%;
    padding: 10px 0 0 0;
    height: 30px;
    background-color: #3498db;
    cursor: pointer;
    color: #fff;
}
a {
    height: 35px;
    text-decoration: none;
}

input[type="text"],
input[type="password"] {
    border-radius: 5px;
    border: 1px solid #ccc; 
    padding: 5px;
    height: 30px;
}

label {
    margin-bottom: 5px;
    color: #666; /* Slightly darker gray for labels */
}

.esqueceu{
    text-decoration: none;
}